.device-container {
  width: 340px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.device-poster {
  height: 640px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.device-specs {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.spec-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.spec-list li {
  min-height: 1.5rem;
}


.device-name {
  font-size: 24px;
  margin: 0;
}

.device-rating {
  font-size: 20px;
  margin-top: 0;
}

.device-summary {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.device-content-container {
  padding: 16px;
}

.device-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
  align-items: flex-start;
}

.device-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 500px;
  margin: 0 auto;

  margin-bottom: 32px;
}

.device-details-content-container {
  max-width: 600px;
}

.phone-img {
    width: 50px;
}

.banner {
        background: url(https://static.vecteezy.com/system/resources/previews/010/829/956/original/mockup-gadget-and-device-smartphones-tablets-laptops-and-computer-monitors-black-with-blank-screen-png.png);
        height: 900px;

        /* removes repitition of BG */
        background-repeat: no-repeat;

        /* Zoom in */
        background-size: contain;

        /* Focus on bottom */
        background-position: bottom;

        /* Center */
        /* display: grid;
        place-content: center; */
      }

.banner-title {
  margin: 0;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  /* color: #222; */
  text-align: center;

    /* background: #f9f9f9;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 0.5px; */

}


      .banner-subtitle {
  font-size: 1.2rem;
  /* color: #555; */
  margin-top: 10px;
  text-align: center;
    /* background: #f9f9f9;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 0.5px; */
}

/* .banner-text {
  background-color: #f9f9f9;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 0.5px;
} */


      .company-details {
        display: flex;
        gap: 12px;
        font-family: Roboto;
        font-weight: bold;
        align-items: center;
      }

      body {
        margin: 0px
      }

      .quote-heading, .quote-details, .coverage-list {
        font-family: Roboto;
      }

      .app-bar {
        display: flex;
        justify-content: space-between;
      }

      @media (min-width: 900px) {
        .css-1t6c9ts {
          display: flex;
          justify-content: flex-end;
        }
      }

      .quote-page {
        margin: 30px;
      }

      .search-form-container {
        margin: 10px;
      }

      .btn-container {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
      }

      .theme-switch {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 1rem;
      }

      .edit-head {
        text-align: center;
      }

      .edit-page {
        display: flex;
        justify-content: space-evenly;
      }

      .edit-form {
        width: 600px;
      }

      .edit-image {
        height: 400px;
      }

      .add-page {
        margin: 20px;
      }

      .add-head {
        margin-top: 0px;
      }

      .add-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }